<% layout('layouts/boilerplate') %>
    <h3>Login</h3>
    <form action="/login" novalidate class="needs-validation" method="post">
        <div class="mb-3">
            <label class="form-label" for="name">UserName</label>
            <input class="form-control" type="text" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button class="btn btn-success">Login</button>
    </form>